<%= erb :nav %>

<div class="container">
  <h1>Listed Spaces</h1>
  <% for space in @spaces %>
  <div>
    <h3> <a href="/space/<%= space.id %>"><%= space.description %></a> £<%= space.price %></h3>
  </div>
  <% end %>
  <h2 style="color:red">
    <%= flash[:notice] %>
  </h2>
</div>
