<%= erb :nav %>

<div class="container">
  <h2 style="color:red"><%= flash[:notice] %></h2>
  <h3 class="text-center">Request for '<%= @booking.space.description %>' </h3>
  <p class="text-center">From: <%= @booking.user.email %></p>
  <p class="text-center">Date: <%= @booking.date %></p>
  <% if @landlord == @user%>
  <form action="/approve_booking/<%= @booking.id %>" method="post">
    <input type="submit" class="btn btn-success" name="approve" value="Approve">
  </form>
  <form action="/reject_booking/<%= @booking.id %>" method="post">
    <input type="submit" class="btn btn-danger" name="reject" value="Reject">
  </form>
  <% end%>

  <div class="form-group">
    <h3>Chat box</h3>
    <form action="/bookings/<%= @booking.id %>/new-message" method="post">
      <input class="form-control" type="text" name="body">
      <br>
      <input class="btn btn-success float-right" type="submit" value="Send">
      <br>
    </form>
  </div>

  <% for message in @booking.messages.reverse %>
    <div class="border">
      <p> <strong><%= message.user.first_name %> <%= message.user.last_name %> @ <%= message.created_at %></strong></p>
      <p><%= message.body %></p>
    </div>
  <% end %>
</div>
