<%= erb :nav %>

<div class="container">
  <h2 style="color:red"><%= flash[:notice] %></h2>
  <h3 class="text-center">Requst for '<%= @booking.space.description %>' </h3>
  <p class="text-center">From: <%= @booking.user.email %></p>
  <p class="text-center">Date: <%= @booking.date %></p>
  <form action="/approve_booking/<%= @booking.id %>" method="post">
    <input type="submit" class="btn btn-success" name="approve" value="Approve">
  </form>
  <form action="/reject_booking/<%= @booking.id %>" method="post">
    <input type="submit" class="btn btn-danger" name="reject" value="Reject">
  </form>
</div>
