<%= erb :nav %>

<div class="container">
  <div class="row">
    <div class="col border">
      <h1>Requests I've received</h1>
      <% for booking in @bookings_received %>
        <h4><a href="/bookings/<%= booking.id %>" id="received-<%= booking.id %>"><%= booking.space.description %></a></h4>
        <p><%= booking.date %></p>
      <% end %>
    </div>
    <div class="col border">
      <h1>Requests I've made</h1>
      <% for booking in @bookings_made %>
        <h4><a href="/bookings/<%= booking.id %>" id="made-<%= booking.id %>"><%= booking.space.description %></a></h4>
        <h4><%= booking.user.first_name %> <%= booking.user.last_name %></h4>
        <p><%= booking.date %></p>
      <% end %>
    </div>
  </div>
</div>
