<%= flash[:notice] %>

<% for booking in @bookings %>
  <h4><%= booking.space.description %></h4>
  <h4><%= booking.user.first_name %> <%= booking.user.last_name %></h4>
  <p><%= booking.date %></p>
  <form action="/bookings/approve/<%= booking.id %>" method="post">
    <input type="submit" id="approve-<%= booking.id %>" value="Approve">
  </form>
  <% end %>
